@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* Default text color: black */
  --background-start-rgb: 255, 255, 255; /* Default background: white */
  --background-end-rgb: 255, 255, 255; /* Default background: white */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* Text color: white */
    --background-start-rgb: 0, 0, 0; /* Background color start: black */
    --background-end-rgb: 0, 0, 0; /* Background color end: black */
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0; /* Text color: black */
    --background-start-rgb: 255, 255, 255; /* Background color start: white */
    --background-end-rgb: 255, 255, 255; /* Background color end: white */
  }
}

/* Forced Colors (High Contrast Mode) */
@media (forced-colors: active) {
  :root {
    color-scheme: light;
    --foreground-rgb: 0, 0, 0; /* Text color: black */
    --background-start-rgb: 255, 255, 255; /* Background color start: white */
    --background-end-rgb: 255, 255, 255; /* Background color end: white */
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background-color: black;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.animate-loading {
  animation: loading 6s linear forwards;
}
