# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Logs and local files
*.log
*.sql
*.sqlite3
instance/
*.pot
*.po
*.mo
*.log
*.dat
*.db

# Editor/IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MyPy cache
.mypy_cache/

# Pylint
pylint.log

# Test results
junit-xml/

# Local settings
*.env
.env.*
.envrc
